
.input{
	position: relative;
	padding: 15px;
	display: inline-flex;
	align-items: center;
	width: 100%;
	height: fit-content;
	border-radius: 5px;
	border: 1px solid #cccccc;
	background: white;
	color: black;
	margin: 5px;
}

.input > input{
	margin: 0;
	width: 100%;
}

.input > span{
	margin-right: 8px;
	width: 10px;
	align-items: start;
}

input{
	outline: none;
	margin: 5px;
}

input[type=text], input[type=password]{
	position: relative;
	width: 300px;
	max-width: max-content;
	border: 0;
	color: black;
	padding: 5px;
}

.loading{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	background: rgba(255,255,255,0.6);
}

.content-default{
	width: fit-content;
	padding: 12px;
	border-radius: 5px;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	background: white;
	margin: 5px;
}



/*===================================== Button ==================================================*/

.btn{
	width: fit-content;
	font-size: 14px;
	padding: 5px 20px;
	transition: .3s;
	cursor: pointer;
	margin: 5px;
	border-radius: 10px;
	box-shadow: var(--shadow);
}

.success{
	background: var(--color-success);
}

.success:hover{
	background: var(--color-success-hover);
}

.danger{
	background: var(--color-danger);
}

.danger:hover{
	background: var(--color-danger-hover);
}

.warning{
	background: var(--color-warning);
}

.warning:hover{
	background: var(--color-warning-hover);
}

.info{
	background: var(--color-info);
}

.info:hover{
	background: var(--color-info-hover);
}
.btn > span{
	margin-right: 8px;
}


::placeholder{
	color: #949494;
}

.flex-h{
	display: flex;
	flex-direction: row;
}

.flex-v{
	display: flex;
	flex-direction: column;
}