
.main{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header{
	position: relative;
	width: 100%;
	height: var(--header-height-size);
	background: var(--color-primary);
	display: flex;
	color: var(--color-text-white);
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 3px 8px rgba(0,0,0,0.4);
	z-index: 10;
	flex: none;
}

.header i{
	height: 100%;
	width: var(--header-height-size);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
}

.header i:hover{
	background: var(--color-secondary);
	cursor: pointer;
}

.body{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: rgba(230, 228, 229, 0.5);
	overflow-y: auto;
}

.sidebar{
	position: fixed;
	display: flex;
	flex-direction: column;
	height: calc(100% - var(--header-height-size));
	width: var(--sidebar-width-size);
	background: white;
	left: calc(-1 * var(--sidebar-width-size) - 30px);
	top: var(--header-height-size);
	z-index: 8;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	transition: var(--transition);
}

.sidebar-header{
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sidebar-header img{
	width: 50%;
	margin: 8px 0;
}

.sidebar-header p{
	margin: 8px 0;
}

.sidebar-body{
	height: fit-content;
	padding: 5px 0;
	border-top: 1px solid rgba(0,0,0,0.2);
}

.sidebar-body > div{
	height: var(--header-height-size);
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	transition: var(--transition);
	color: var(--color-text-black);
}

.sidebar-body > div:hover{
	padding-left: 13px;
	background: var(--color-secondary);
	color: var(--color-text-white);
}

.sidebar-body > div.active{
	background: var(--color-primary);
	color: var(--color-text-white);
}

.sidebar-body > div > i{
	width: var(--header-height-size);
	text-align: center;
}

.page{
	width: 100%;
}

.page > section{
	position: relative;
	width: 100%;
	margin-top: 18px;
}

.graph{
	flex: 1;
	width: 350px;
	margin: 5px;
	position: relative;
	height: 100%;
}