@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

:root {
	--header-height-size: 45px;

	--sidebar-width-size: 220px;

	--color-primary: #261A73;
	--color-secondary: #4F468C;
	--color-ternary: #949494;
	--color-text-black: #0a0a0a;
	--color-text-white: #eee;
	--color-success: #007e33;
	--color-success-hover: #00c851;
	--color-danger: #cc0000;
	--color-danger-hover: #ff4444;
	--color-warning: #ff8800;
	--color-warning-hover: #ffbb33;
	--color-info: #0099cc;
	--color-info-hover: #33b5e5;
	--color-opacity-black: rgba(0,0,0,0.4);
	--color-opacity-white: rgba(174, 179, 171,0.4);

	--transition: .3s;
	--shadow: 6px 6px 8px rgba(0,0,0,0.3);
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
}
