.login-content{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #261A73;
}

.login-content > h1{
	position: absolute;
	left: 50%;
	top: 10%;
	transform:  translateX(-50%);
	color: white;
}

.login-box{
	width: fit-content;
	height: fit-content;
	padding: 10px 15px;
	display: inline-flex;
	border-radius: 10px;
	background: white;
}

.login-form{
	width: 300px;
}
