@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

/*=====Alert Box======*/
#messageBox{
    position: absolute;
    z-index: 999999;
    height: fit-content;
    width: 80%;
    max-height: 80%;
    right: 50%;
    top: 90px;
    transform: translateX(50%);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 8px rgba(0,0,0,0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

#messageBox li{
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow-y: hidden;
    text-wrap: avoid;
    word-wrap: break-spaces;
    transition: .5s;
}

#messageBox p{
    color: white;
    padding: 10px 5px;
}

#messageSide{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 100%;
    right: -370px;
    z-index: 99999;
    transition: .3s;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

#messageSide > button{
    position: absolute;
    display: inline-flex;
    width: 130px;
    bottom: 50px;
    right: 275px;
    border-radius: 15px 0 0 15px;
    background: white;
    padding: 8px 25px 8px 8px;
    cursor: pointer;
    align-items: center;
    box-shadow: -6px 6px 8px rgba(0,0,0,0.3);
    transition: .4s;
    border: 0;
    outline: none;
}

#messageSide > button > span{
    padding: 0 8px;
    transition: .5s;
}

#messageSide > button:hover, #messageSide > button.active{
    right: 350px;
}

#messageSide > button.active > span{
    transform: rotateY(180deg);
}

#messageSide > button:hover > span{
    transform: rotateY(180deg);
}

#messageSide > button > p{
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    background: #261A73;
    color: #eeeeee;
    top: -25px;
    left: 0;
}

#messageSide > div{
    width: 350px;
    overflow-y: auto;
    background: white;
    box-shadow: -6px 6px 8px rgba(0,0,0,0.3);
}

#messageContainer{
    display: flex;
    flex-direction: column-reverse;
}

#messageContainer > li{
    cursor: default;
    height: fit-content;
    padding: 5px;
    font-size: 15px;
    word-wrap: break-word;
    transition: .5s;
    color: #eee;
    margin: 5px;
    border-radius: 5px;
}

