
<div class="flex-h">
	<div class="content-default graph" style="flex: 3">
		<canvas id="graph_co2"></canvas>
	</div>
	<div class="flex-v" style="flex: 1; width: 100%">
		<div class="content-default" style="width: 100%; flex: 1">
			Info 1
		</div>
		<div class="content-default" style="width: 100%; flex: 1">
			Info 2
		</div>
	</div>
</div>

<div class="flex-h">
	<div class="content-default" style="height: 240px; flex: 1">
		Info 3
	</div>
	<div class="content-default" style="height: 240px; flex: 1">
		Info 4
	</div>
	<div class="content-default" style="height: 240px; flex: 1">
		Info 5
	</div>
	<div class="content-default" style="height: 240px; flex: 1">
		Info 6
	</div>
</div>

<script src="js/home.js"></script>