<header class="header">
	<i class="fas fa-bars"></i>
	<p>Dashboard</p>
	<i class="fas fa-sign-out-alt" title="Logout"></i>
</header>
<div class="body">
	<nav class="sidebar">
		<div class="sidebar-header">
			<img src="img/user_default.png">
			<p>Administrador</p>
		</div>
		<div class="sidebar-body"></div>
	</nav>
	<div id="messageSide">
		<button>
			<p>5</p>
			<span class="fas fa-arrow-right"></span>
			Eventos
		</button>
		<div><ul id="messageContainer"></ul></div>
	</div>
	<div class="page">
		<p class="content-default"></p>
		<section></section>
	</div>
</div>

<script src="js/dashboard.js"></script>
<script src="js/messageBox.js"></script>