<div class="login-content">
	<h1>Nome do Projeto</h1>
	<div class="login-box">
		<div class="login-form">
			<form id="formLogin">
				<div class="input">
					<span class="fas fa-user"></span>
					<input type="text" placeholder="Nome de usuário">
				</div>
				<div class="input">
					<span class="fas fa-key"></span>
					<input type="password" placeholder="Senha">
				</div>
				<div class="flex-h">
					<div class="btn success">Acessar</div>
					<div class="btn warning">Recuperar</div>
				</div>
			</form>
		</div>
		<!--<div class="login-carousel">
			carousel
		</div>-->
	</div>
</div>

<script src="js/login.js"></script>